<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add a Park</title>
</head>
<body class="lt-brown dkdk-brown-font">
    <!-- top bar -->
    <nav class="navbar dk-brown lt-green-font navbar-expand-sm justify-content-between">
        <span class="h1 justify-content-start">Want to add a park?</span>
        <div>
            <a href="/logout" class="mr-2 btn-md btn-outline-light">Logout</a>
            <a href="dashboard" class="btn-light btn-lg">Home</a>
        </div>
    </nav>

    <div class="container">
        <p class="h1 dk-green-font">Complete the following form and hit the button at the bottom.</p>
        <form action="/create_park" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <!-- name -->
                <div class="form-group col-md-12">
                    <label class="h6 font-weight-bold" for="park_name">Park Name: </label>
                    <input name="park_name" type="text" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <!--website_url-->
                <div class="form-group col-md-6">
                    <label class="h6 font-weight-bold" for="website_url">Link to park's website: </label>
                    <input name="website_url" type="url" class="form-control">
                </div>
                <!--trail_map_url-->
                <div class="form-group col-md-6">
                    <label class="h6 font-weight-bold" for="trail_map_url">Link to park's trail map: </label>
                    <input name="trail_map_url" type="url" class="form-control">
                </div>
            </div>
            <div class="form-row d-flex justify-content-start">
                    <!--park location-->
                    <div class="form-group col-md-6">
                        <label class="h6 font-weight-bold" for="latitude">Latitude: </label>
                        <input name="latitude" type="text" class="form-control">
                    </div>
                    <!--trail_map_url-->
                    <div class="form-group col-md-6">
                        <label class="h6 font-weight-bold" for="longitue">Longitude: </label>
                        <input name="longitue" type="text" class="form-control">
                    </div>
                </div>
            <div class="form-row">
                <!--allows_pets-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Are pets allowed?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="allows_pets" value="True">
                        <label class="form-check-label" for="allows_pets">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="allows_pets" value="False">
                        <label class="form-check-label" for="allows_pets">no</label>
                    </div>
                </div>
                <!--limited_access-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Are there restrictions to access this area?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="limited_access" value="True">
                        <label class="form-check-label" for="limited_access">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="limited_access" value="False">
                        <label class="form-check-label" for="limited_access">no</label>
                    </div>
                </div>
                <!--busy-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">How busy was it today?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="busy" value="not busy">
                        <label class="form-check-label" for="busy">not busy</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="busy" value="moderately busy">
                        <label class="form-check-label" for="busy">moderately busy</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="busy" value="very busy">
                        <label class="form-check-label" for="busy">very busy</label>
                    </div>
                </div>
            </div> <!-- end row: pets, restrictions, busy -->
            <div class="form-row">
                <!--has_shade-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Are there shaded areas?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_shade" value="True">
                        <label class="form-check-label" for="has_shade">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_shade" value="False">
                        <label class="form-check-label" for="has_shade">no</label>
                    </div>
                </div>
                <!--has_water-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Is there drinking water available?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_water" value="True">
                        <label class="form-check-label" for="has_water">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_water" value="False">
                        <label class="form-check-label" for="has_water">no</label>
                    </div>
                </div>
                <!--has_bathrooms-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Are there public restrooms?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_bathrooms" value="True">
                        <label class="form-check-label" for="has_bathrooms">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_bathrooms" value="False">
                        <label class="form-check-label" for="has_bathrooms">no</label>
                    </div>
                </div>
            </div> <!-- end row: shade, water, bathrooms -->
            <div class="form-row">
                <!--is_accessible-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Is this space accessible to people with disabilities?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_accessible" value="True">
                        <label class="form-check-label" for="is_accessible">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_accessible" value="False">
                        <label class="form-check-label" for="is_accessible">no</label>
                    </div>
                </div>
                <!--is_kid_friendly-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Is this place a good space to bring children?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_kid_friendly" value="True">
                        <label class="form-check-label" for="is_kid_friendly">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_kid_friendly" value="False">
                        <label class="form-check-label" for="is_kid_friendly">no</label>
                    </div>
                </div>
                <!--has_playground-->
                <div class="form-group col">
                    <p class="h6 font-weight-bold">Is there a playground here?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_playground" value="True">
                        <label class="form-check-label" for="has_playground">yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="has_playground" value="False">
                        <label class="form-check-label" for="has_playground">no</label>
                    </div>
                </div>
            </div> <!-- end row: accessibility, kid friendly, playground -->

            <div class="form-row">
                    <!--permitted_activities-->
                    <div class="form-check mb-4 col">
                        <p class="h6 font-weight-bold">What kinds of activities do you want to do? (check all that apply)</p>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="permitted_activities" value="Hiking">
                            <label class="form-check-label" for="permitted_activities">Hiking</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="permitted_activities" value="Running">
                            <label class="form-check-label" for="permitted_activities">Running</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="permitted_activities" value="Mountain Biking">
                            <label class="form-check-label" for="permitted_activities">Mountain Biking</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="permitted_activities" value="Fishing">
                            <label class="form-check-label" for="permitted_activities">Fishing</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="permitted_activities" value="Horseback Riding">
                            <label class="form-check-label" for="permitted_activities">Horseback Riding</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="permitted_activities" value="Rock Climbing">
                            <label class="form-check-label" for="permitted_activities">Rock Climbing</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="permitted_activities" value="Camping">
                            <label class="form-check-label" for="permitted_activities">Camping</label>
                        </div>
                    </div>
                    <!--natural_features-->
                    <div class="form-check col">
                        <p class="h6 font-weight-bold ">What natural features do you want to see? (check all that apply)</p>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="natural_features" value="Waterfalls">
                            <label class="form-check-label" for="natural_features">Waterfalls</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="natural_features" value="Running Water">
                            <label class="form-check-label" for="natural_features">Running Water</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="natural_features" value="Lakes/Ponds">
                            <label class="form-check-label" for="natural_features">Lakes/Ponds</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="natural_features" value="Caves">
                            <label class="form-check-label" for="natural_features">Caves</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="natural_features" value="Canyons">
                            <label class="form-check-label" for="natural_features">Canyons</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" name="natural_features" value="Mountains">
                            <label class="form-check-label" for="natural_features">Mountains</label>
                        </div>
                    </div>
                </div>
            </div>
    <hr>
    <hr>
    <div class="container">
            <h3>Awesome!! Let's also add the first trail report for this park!</h3>
            <h4>Who did you hike with?</h4>
            <div class="form-row">
                <!-- adults -->
                <div class="form-group col-md-3">
                    <label class="h6 font-weight-bold" for="hg_adults">Adults: </label>
                    <input name="hg_adults" type="number" class="form-control" value="1">
                </div>
                <!-- children -->
                <div class="form-group col-md-3">
                    <label class="h6 font-weight-bold" for="hg_kids">Kids: </label>
                    <input name="hg_kids" type="number" class="form-control" value="0">
                </div>
                <!-- people with disabilities -->
                <div class="form-group col-md-3">
                    <label class="h6 font-weight-bold" for="hg_ppl_w_dis">People with disabilities: </label>
                    <input name="hg_ppl_w_dis" type="number" class="form-control" value="0">
                </div>
                <!-- pets -->
                <div class="form-group col-md-3">
                    <label class="h6 font-weight-bold" for="hg_pets">Pets: </label>
                    <input name="hg_pets" type="number" class="form-control" value="0">
                </div>
            </div> <!-- end hiking_group_at_visit_time -->
    <hr>
            <!-- date visited -->
            <div class="form-row">
                <div class="form-group">
                    <label class="h6 font-weight-bold" for="date_visited">Date Visited: </label>
                    <input type="date" name="date_visited">
                </div>
                <!-- rating -->
                <div class="form-group form-inline ml-4">
                    <label class="h6 font-weight-bold" for="rating">Rating: </label>
                    <select class="form-control" name="rating">
                        <option selected>Rate your experience</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div> 
            </div><!-- end rating -->
    <hr>
            <!-- public notes -->
            <div class="form-row">
                <div class="form-group col">
                    <label class="h6 font-weight-bold align-text-bottom" for="public_notes">Public Notes: </label>
                    <textarea name="public_notes" cols="80" rows="5" placeholder="These notes will be visible to all users."></textarea>
                </div> 
            </div><!-- end public notes -->
    <hr>
            <!-- private notes -->
            <div class="form-row">
                <div class="form-group col">
                    <label class="h6 font-weight-bold align-text-bottom" for="private_notes">Private Notes: </label>
                    <textarea name="private_notes" cols="80" rows="5" placeholder="These notes will only be visible in your personal trail log."></textarea>
                </div>
            </div> <!-- end private notes -->
    <hr>
            <!--! upload pics -->
            <!-- <div class="form-group">
                <label for="visit_pics">Upload pictures of your adventure!</label>
                <input name="visit_pics" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div> -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-lg m-4 dk-green yellow-font">Submit Park for Review</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>